<%= stylesheet_link_tag "stylesheet.css" %>
<table width="100%">
  <thead>
    <tr>
      <th colspan="4">New Game Expense For <%= @character.name %></th>
    </tr>
  </thead>}

  <tr>
  	<td>
  		<%= render 'form' %>
    </td>
  </tr>

</table>
<div id = "menu">
  <%= link_to 'Back', character_path(@character.id) %> </th>
</div>