<%= stylesheet_link_tag "stylesheet.css" %>
<table  width="100%">
  <thead>
    <tr>
      <th colspan="4">Editing <%= @game_asset.character.name %> Game Asset</th>
    </tr>
  </thead>

  <tr>
  	<td>
  		<%= render 'form' %>
    </td>
  </tr>
</table>
<div id="menu"> 
  <%= link_to 'Back', character_path(@game_asset.character)  %>
</div>