:javascript
  $(function() {
    var game_asset = GameAsset.collection.get(#{@game_asset.id.to_json});
    var errors = #{@game_asset.errors.full_messages.to_json};
    ShadowWorkspace.show(new View.GameAsset.Edit({model: game_asset, errors: errors}));
  });
