:javascript
  $(function() {
    var character = Character.collection.get(#{@character.to_json});
    var asset = new GameAsset(#{@game_asset.to_json});
    asset.set("character_id",character.get("id"))
    asset.set("amount",1)
    var errors = #{@game_asset.errors.full_messages.to_json};
    ShadowWorkspace.show(new View.GameAsset.New({model: asset, character: character, errors: errors}));
  });
