.menu
  %ul
    %li
      %p Shadowrun Utility
    %li= link_to 'Characters', characters_path
    %li= link_to 'Settings', game_settings_path
  - if notice
    .notices
      %p.notice
        = notice
