<table  width="100%">
<thead>
  <tr>
    <th colspan="4">Editing character</th>
  </tr>
</thead>

  <tr>
  	<td>
  		<%= render 'form' %>
    </td>
  </tr>
</table>

  
<div id="menu">
    <%= link_to 'Back', characters_path %>  ||  <%= link_to 'Show Character', @character %> 
</div>
