<%= stylesheet_link_tag "stylesheet.css" %>
<table  width="100%">
<thead>
  <tr>
    <th colspan="4">Editing character</th>
  </tr>
</thead>

  <tr>
  	<td>
  		<%= render 'form' %>
    </td>
  </tr>
</table>


<%= link_to 'Cancel', @character %>
