:javascript
  $(function() {
    var character = new Character(#{@character.to_json});
    var errors = #{@character.errors.full_messages.to_json};
    ShadowWorkspace.show(new View.Character.New({model: character, errors: errors}));
  });
