:javascript
  $(function() {
    var game_setting = new GameSetting(#{@game_setting.to_json});
    var errors = #{@game_setting.errors.full_messages.to_json};
    ShadowWorkspace.show(new View.GameSetting.Edit({model: game_setting, errors: errors}));
  });

