/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

* {
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 8px;
  color: #99ccff;
}

.center-stage {
  margin: 0 40px 0 40px;
}

.notices {
  background-color: #339933;
}

p.notice {
  color: white;
}
