// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.character {
  color: white;
}

.legality {
  color: black;
  background-color: #00C90D;
}

.legality.forbidden{
  background-color: #FF0700;
}
.legality.restricted{
  background-color: #FFD500;
}

table.gear {
  margin: 10px 0 10px 0;
  width: 100%;
}

td.currency {
  text-align: right;
}

td.status {
  width: 60px;
}

td.status img {
  height: 20px;
}

.attributes {
  float: left;
}

.commlink {
  float: right;
  padding-left: 40px;
  height: 40px;
}

.status-slider {
  margin-top: 4px;
}

img.equipped {
  width: 20px;
}