table.gm-table{
   width: 20%;
   float: left;
}

table.gm-table tr.attribute span.label{
  display: inline-block;
  width: 100px;
  color: #999;
}

table.gm-table td.commlink-status span.hidden{
  color: #999;
}